body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* h1{
  color: orangered;
}
.nav-link:focus, .nav-link:hover {
  color: orangered;
} */

.navbar-nav a{
  margin-left: 10px;

}
.navbar-nav a:hover{
  color: orangered;
  /* background-color: green; */

}
.btn{
  background-color: black !important;
  color: orangered !important;
  font-weight: bold !important;
  outline: none !important; 
  border: none !important;
  
}

.btn:hover{
  color: black !important;
  background-color: orangered !important;
}
.home{
  background-color:antiquewhite;
}
.navbar{
  background-color: rgba(249, 250, 253, 0.88);
  backdrop-filter: blur(4px)
}
.homeimge {
  top: 0;
  left: 0;
}
.imgs-container{
  height: 380px;
}

/* .aaa{
  background-image: url("./imgs/wave-transparent-modern-background_1055-6187.avif");
} */
.text-con{
  border-bottom: 1px solid black;
}
.Bounce{
  width: 25px;
    height: 25px;
    margin: 0  auto;
    background-color: orangered;
    border-radius: 50%;
     position: absolute; 
     top: 50%;
    left: 50%; 
    animation: Bounce 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
    box-shadow: 0 0 .8rem orangered;

}

.right{
  animation: right 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate; 
}
.top{
  animation: top 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}
.bottom{
  animation: bottom 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}
.left{
  animation: left 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;

}
.threed{
  animation: threed 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;

}
/* @keyframes Bounce  { from {
transform: translateY(0);
}
to{
  transform: translateY(-200px);
}
} */
.Bounce1{
  /* width: 25px;
    height: 25px;
    margin: 0  auto;
    background-color: red;
    border-radius: 50%;
     position: absolute; 
     top: 50%;
    left: 50%;  */
    /* animation: Bounce 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate; */

}

@keyframes top { from {
  transform: translateY(0);
  }
  to{
    transform: translateY(50px);
  }
  }



@keyframes right { from {
transform: translateX(0);
}
to{
  transform: translateX(50px);
}
}



@keyframes bottom { from {
transform: translateY(0);
}
to{
  transform: translateY(-50px);
}
}

@keyframes left { from {
transform: translateX(0);
}
to{
  transform: translateX(-50px);
}
}

@keyframes threed { from {
transform: scale(0);
}
to{
  transform: scale(10px,10px);
}
}
.bounce-container{
  position: absolute;
  background-color: antiquewhite;
  height: 100%;
}

.main-cont h3{
  color: lightsalmon !important;
}
li{
  background-color: black;
  list-style: none;
  text-align: center;
  width: 42px;
  height: 42px;
  /* border: 1px solid orangered; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.3rem orangered;
  color: orangered;
}
li:hover{

}
.footer i{
  margin: auto;
  font-size: 22px;
  /* color: wheat; */
  /* transform: translate(-50% , -50% ); */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* z-index: 0; */
}
.footer{
  background-color: black;
}
.footer h4{
color: wheat;}
.footer li:hover{
color: black;
  background-color: orangered;
}
.re-container{
background-image: url("./imgs/oval.png");
background-size: cover;
background-repeat: no-repeat;
/* height: 1000px; */
padding-top: 50px;
margin-top: 75px;

}
